<div class="offcanvas offcanvas-end" data-controller="events" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="event_settings" aria-labelledby="event_settings_label" data-turbo-permanent>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="event_settings_label"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" data-events-target="offcanvasBody">

    <div class="container">
      <div class="row align-items-start">

        <div class="col">
          <div class="list-group list-group-horizontal text-center" data-events-target="view">
            <%= render_event_view_switches %>
          </div>
        </div>

        <div class="col-12 pt-5">
          <div class="accordion accordion-flush">
            <%= render_event_filters %>
          </div>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col">
          <h5>Sync Cardano events directly to your calendar app</h5>

          <p>With our customizable calendar subscription via the iCalendar (<a href="https://en.wikipedia.org/wiki/ICalendar", target="_blank">ICS</a>) format, you can effortlessly integrate and stay up-to-date with Cardano, for free!</p>

          <%= link_to events_url(view: current_view, params: filter_params, protocol: :webcal, format: :ics), data: { "controller" => "events", "events-target" => "subscribe" }, class: "d-block btn btn-success", target: "_blank" do %>
            <i class="bi-calendar2-plus me-1"></i> Subscribe
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
