<div class="offcanvas offcanvas-end" data-controller="filters" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="event_settings" aria-labelledby="event_settings_label" data-turbo-permanent>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="event_settings_label"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div id="offcanvas-body" class="offcanvas-body" data-filters-target="offcanvasBody" data-preserve-scroll>
    <turbo-frame id="eventFilters" target="_top" loading="lazy" src="<%= event_filters_path({stake_address: current_stake_address}.merge!(filter: event_params.fetch(:filter, {}))) %>">
      <span class="spinner-border position-absolute top-50 start-50"></span>
    </turbo-frame>
  </div>
</div>
