<%= turbo_frame_tag "eventFilters", target: "_top" do %>
  <div class="container">
    <div class="row align-items-start">

      <div class="col">
        <div class="list-group list-group-horizontal text-center">
          <%= render_event_view_switches %>
        </div>
      </div>

      <div class="col-12 pt-5">
        <div class="accordion accordion-flush">
          <%= render_event_filters %>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col">
        <h5>Sync Cardano events directly to your calendar app</h5>

        <p>With our customizable calendar subscription via the iCalendar (<a href="https://en.wikipedia.org/wiki/ICalendar", target="_blank">ICS</a>) format, you can effortlessly integrate and stay up-to-date with Cardano, for free!</p>

        <%= link_to events_url(view: :events, protocol: :webcal, format: :ics), data: { action: "click->filters#updateSubscribeLink" }, class: "d-block btn btn-success", target: "_blank" do %>
          <i class="bi-calendar2-plus me-1"></i> Subscribe
        <% end %>
      </div>
    </div>

  </div>
<% end %>