@import 'bootstrap/scss/bootstrap';

.event time, .event .badge {
  font-size: 0.75em;
}

.event .badge {
  font-size: 0.67em;
}

.event .modal time {
  font-size: inherit;
}

.modal-header {
  align-items: self-start !important;
}

.calendar.calendar-month.card {
  min-width: 10em;
}

td.day {
  scroll-margin-top: 2em;
}

td.active {
  .card { border-color: var(--bs-info) }
}

td.today {
  .card { border-color: $primary }
  .card .card-header {
    background: $primary !important;
    color: $light;
  }
}

td.current-month .date {
  color: var(--bs-primary-text-emphasis);
}

td.prev-month, td.next-month {
  opacity: 40%;
}

.bi.epoch-transition {
  color: var(--bs-list-group-border-color);
}

.tz-dropdown {
  max-height: 80vh;
  overflow-y: auto;
}