@import 'bootstrap/scss/bootstrap';

.calendar.calendar-month.card {
  min-width: 8em;
}

td.today .card {
  border-color: $primary;
}

td.today .card .card-header {
  background: $primary !important;
  color: $light;
}

td.current-month .date {
  color: var(--bs-primary-text-emphasis);
}

td.prev-month, td.next-month {
  opacity: 40%;
}

.bi.epoch-transition {
  color: var(--bs-list-group-border-color);
}

.tz-dropdown {
  max-height: 80vh;
  overflow-y: auto;
}